@model Agency.ViewModel.MainHotel.EditMainHotelViewModel
@using System.Web.Optimization
@using Agency.Common.HtmlHelpers
@using OfficeOpenXml.FormulaParsing.Excel.Functions.RefAndLookup


@using (Html.BeginForm("Edit", "MainHotel", FormMethod.Post, new { role = "form", @class = "form-horizontal", autocomplete = "off", id = "CreateMainHotelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default">
        <div class="panel-heading">
            @*@if (Model.GroupSelectListItems.Count == 0)
                {
                    <div class="row">
                        <div class="col-md-12">
                            @{
                                var x = "برای ایجاد مشتری،وجود حداقل یک گروه مشتری الزامی میباشد.";
                                x += "<br>";
                                x += "لطفا ابتدا از طریق لینک زیر یک گروه مشتری ایجاد کنید.";
                            }
                            @Html.HelpAlert(Url.Content("~/Content/Images/lightbulb.png"),
                                x)
                            <a class="btn bg-primary btn-md" style="margin-top: 10px; margin-bottom: 10px;" data-ajax="true" data-ajax-mode="replace" d data-ajax-method="GET" data-ajax-success="onSuccessFormValidation(data, status, xhr,'createCustomerGroupForm','modal')"
                               data-ajax-update="#modal" data-ajax-url="@Url.Action("CreateAndReload","CustomerGroup")" role="button"><i class="fa fa-plus"></i>تعریف گروه مشتری</a>
                        </div>
                    </div>
                                }*@
        </div>

        @*@if (Model.Hotels != null && Model.Hotels.Count > 0)
            {*@
        <div class="panel-body">
            @*<hr class="margin-bottom-5 margin-top-5" />*@
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#baseInfo" data-toggle="tab">اطلاعات پایه</a>
                </li>
                <li>
                    <a href="#files" data-toggle="tab">آپشن ها</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="baseInfo">
                    <div class="row" style="margin-top: 15px;">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(p => p.Name, new { @class = "control-label col-md-3" })
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(p => p.Name, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(p => p.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.StateId, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(p => p.StateId, Model.States, "انتخاب استان", new { @onchange = "FillCity()", @id = "DropDownState", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.StateId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CityId, new { @class = "control-label col-md-3" })
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(p => p.CityId, Model.Cities, "انتخاب شهر ", new { @id = "DropDownCities", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(p => p.Tel, new { @class = "control-label col-md-3" })
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(p => p.Tel, new { @class = "form-control numbertxt" })
                                        @Html.ValidationMessageFor(p => p.Tel, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(p => p.Adress, new { @class = "control-label col-md-3" })
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(p => p.Adress, new { @class = "form-control " })
                                        @Html.ValidationMessageFor(p => p.Adress, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PicSrFile, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(model => model.PicSrFile, new { type = "file", @class = "form-control " })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(p => p.level, new { @class = "control-label col-md-3" })
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(p => p.level, new { @class = "form-control numbertxt" })
                                        @Html.ValidationMessageFor(p => p.level, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    <div class="col-md-2">
                        <h3></h3>
                        <button id="BtAddRoom" class="btn btn-info btn-md" style="font-size: 20px; font-weight: bold" type="button">+</button>
                        <label>افزودن اتاق</label>
                    </div>
                        @Html.HiddenFor(p => p.RoomMainHotelList[0].HotelId)
                        @Html.HiddenFor(p => p.RoomMainHotelList[0].Id)
                        <table class="table table-striped" id="RoomTable">
                            <tr>
                                <td class="col-md-2">نوع</td>
                                <td class="col-md-1">تعداد</td>
                                <td class="col-md-1">قیمت</td>
                                <td class="col-md-2">آغاز رزرو</td>
                                <td class="col-md-2">پایان رزرو</td>
                                <td class="col-md-3">توضیحات</td>
                                <td class="col-md-1" id="WarningItemDelete">&nbsp;</td>
                            </tr>
                            <tr id="roomitem">
                                <td class="col-md-1">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.VehicleIds, new { @class = "control-label col-md-2" })*@
                                        <div class="col-md-12">
                                            @Html.DropDownListFor(p => p.RoomMainHotelList[0].RoomId, Model.RoomMainHotelList[0].RoomListItems, "انتخاب اتاق", new { @class = "form-control DropDownRoomChange" })
                                            @Html.ValidationMessageFor(model => model.RoomMainHotelList[0].RoomId, "", new { @class = "text-danger" })
                                        </div>

                                    </div>
                                </td>
                                <td class="col-md-1">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => Model.WarningItemsList[index].RemainingDays, htmlAttributes: new {@class = "control-label col-md-2"})*@
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(model => Model.RoomMainHotelList[0].Count, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => Model.RoomMainHotelList[0].Count, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </td>
                                <td class="col-md-1">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => Model.WarningItemsList[index].RemainingDays, htmlAttributes: new {@class = "control-label col-md-2"})*@
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(model => Model.RoomMainHotelList[0].Price, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => Model.RoomMainHotelList[0].Price, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </td>
                                <td class="col-md-1">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => Model.WarningItemsList[index].RemainingDays, htmlAttributes: new {@class = "control-label col-md-2"})*@
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => Model.RoomMainHotelList[0].FirstDate, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => Model.RoomMainHotelList[0].FirstDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </td>
                                <td class="col-md-1">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => Model.WarningItemsList[index].RemainingDays, htmlAttributes: new {@class = "control-label col-md-2"})*@
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => Model.RoomMainHotelList[0].LasTime, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => Model.RoomMainHotelList[0].LasTime, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </td>
                                <td class="col-md-4">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => Model.WarningItemsList[index].RemainingDays, htmlAttributes: new {@class = "control-label col-md-2"})*@
                                        <div class="col-md-11">
                                            @Html.TextAreaFor(model => model.RoomMainHotelList[0].Description, new { @class = "form-control", rows = 6 })
                                            @Html.ValidationMessageFor(model => Model.RoomMainHotelList[0].Description, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            @if (Model.RoomMainHotelList != null)
                            {
                                for (int index = 1; index < Model.RoomMainHotelList.Count; index++)
                                {
                                    @Html.HiddenFor(p=>p.RoomMainHotelList[index].HotelId)
                                    @Html.HiddenFor(p=>p.RoomMainHotelList[index].Id)
                                    var indexname = "roomitem-" + @index.ToString();
                                    <tr id=@indexname>
                                        <td class="col-md-1">
                                            <div class="form-group">
                                                @*@Html.LabelFor(model => model.VehicleIds, new { @class = "control-label col-md-2" })*@
                                                <div class="col-md-12">
                                                    @Html.DropDownListFor(p => p.RoomMainHotelList[index].RoomId, Model.RoomMainHotelList[index].RoomListItems, "انتخاب اتاق", new { @class = "form-control DropDownRoomChange" })
                                                    @Html.ValidationMessageFor(model => model.RoomMainHotelList[index].RoomId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </td>
                                        <td class="col-md-1">
                                            <div class="form-group">
                                                @*@Html.LabelFor(model => Model.WarningItemsList[index].RemainingDays, htmlAttributes: new {@class = "control-label col-md-2"})*@
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => Model.RoomMainHotelList[index].Count, new {htmlAttributes = new {@class = "form-control"}})
                                                    @Html.ValidationMessageFor(model => Model.RoomMainHotelList[index].Count, "", new {@class = "text-danger"})
                                                </div>
                                            </div>
                                        </td>
                                        <td class="col-md-1">
                                            <div class="form-group">
                                                @*@Html.LabelFor(model => Model.WarningItemsList[index].RemainingDays, htmlAttributes: new {@class = "control-label col-md-2"})*@
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => Model.RoomMainHotelList[index].Price, new {htmlAttributes = new {@class = "form-control"}})
                                                    @Html.ValidationMessageFor(model => Model.RoomMainHotelList[index].Price, "", new {@class = "text-danger"})
                                                </div>
                                            </div>
                                        </td>
                                        <td class="col-md-1">
                                            <div class="form-group">
                                                @*@Html.LabelFor(model => Model.WarningItemsList[index].RemainingDays, htmlAttributes: new {@class = "control-label col-md-2"})*@
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => Model.RoomMainHotelList[index].FirstDate, new {htmlAttributes = new {@class = "form-control"}})
                                                    @Html.ValidationMessageFor(model => Model.RoomMainHotelList[index].FirstDate, "", new {@class = "text-danger"})
                                                </div>
                                            </div>
                                        </td>
                                        <td class="col-md-1">
                                            <div class="form-group">
                                                @*@Html.LabelFor(model => Model.WarningItemsList[index].RemainingDays, htmlAttributes: new {@class = "control-label col-md-2"})*@
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => Model.RoomMainHotelList[index].LasTime, new {htmlAttributes = new {@class = "form-control"}})
                                                    @Html.ValidationMessageFor(model => Model.RoomMainHotelList[index].LasTime, "", new {@class = "text-danger"})
                                                </div>
                                            </div>
                                        </td>
                                        <td class="col-md-4">
                                            <div class="form-group">
                                                @*@Html.LabelFor(model => Model.WarningItemsList[index].RemainingDays, htmlAttributes: new {@class = "control-label col-md-2"})*@
                                                <div class="col-md-11">
                                                    @Html.TextAreaFor(model => model.RoomMainHotelList[index].Description, new { @class = "form-control", rows = 6 })
                                                    @Html.ValidationMessageFor(model => Model.RoomMainHotelList[index].Description, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </td>
                                        <td class="col-md-1"><button class="removeBtn btn btn-sm btn-danger" type="button">x</button></td>
                                    </tr>
                                }
                            }

                        </table>

                    </div>
                </div>
                <div class="tab-pane" id="files">
                    <div class="row" style="margin-top: 30px;">
                        <div class="col-md-2" style="margin-bottom: 10px;">
                            <h3></h3>
                            <button id="BtAddHotelOption" class="btn btn-info btn-md" style="font-size: 20px; font-weight: bold" type="button">+</button>
                            <label>افزودن آپشن</label>
                        </div>
                        <table class="table table-striped" id="HotelOptionTable">
                            <tr>
                                <td class="col-md-2">عنوان</td>
                                <td class="col-md-3">هزینه</td>
                                <td class="col-md-1" id="HotelOptionItemDeleteColumn">&nbsp;</td>
                            </tr>
                            <tr id="optionitem-0" hidden>
                                <td class="col-md-3">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.VehicleIds, new { @class = "control-label col-md-2" })*@
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => Model.OptionList[0].Name, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.OptionList[0].Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </td>
                                <td class="col-md-1">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => Model.WarningItemsList[index].RemainingDays, htmlAttributes: new {@class = "control-label col-md-2"})*@
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => Model.OptionList[0].Price, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => Model.OptionList[0].Price, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </td>


                                <td class="col-md-1"><button class="removeBtnHotelOption btn btn-sm btn-danger" type="button">x</button></td>
                            </tr>
                            @for (int index = 1; index < Model.OptionList.Count; index++)
                {
                    var indexname = "optionitem-" + @index.ToString();
                                <tr id=@indexname>
                                    <td class="col-md-3">
                                        <div class="form-group">
                                            @*@Html.LabelFor(model => model.VehicleIds, new { @class = "control-label col-md-2" })*@
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => Model.OptionList[index].Name, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.OptionList[index].Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-md-1">
                                        <div class="form-group">
                                            @*@Html.LabelFor(model => Model.WarningItemsList[index].RemainingDays, htmlAttributes: new {@class = "control-label col-md-2"})*@
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => Model.OptionList[index].Price, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => Model.OptionList[index].Price, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-md-1"><button class="removeBtnHotelOption btn btn-sm btn-danger" type="button">x</button></td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>


            </div>
        </div>

    </div>
        <div class="panel-footer">
            <div class="pull-left">
                <button type="button" autocomplete="off" onclick="AjaxForm.CustomSubmit(this, 'CreateMainHotelForm')" data-loading-text="در حال ارسال اطلاعات" class="btn btn-success btn-md">
                    ثبت هتل
                </button>
                <a href="@Url.Action("List", "Customer")" class="btn btn-default btn-md">انصراف</a>
            </div>
            <div class="clearfix"></div>
        </div>





}

@*@section Menu{
        @{Html.RenderPartial("_TourManagementSideBarMenu");}
    }*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datePicker")
}
