@using System.Web.Optimization
@using Agency.Common.HtmlHelpers
@model Agency.ViewModel.Reserve.SelectVehicleViewModel
@{
    ViewBag.Title = "انتخاب وسیله نقلیه";
}

@using (Html.BeginForm("ManageSeatSchema", "Tour", FormMethod.Post, new { role = "form", @class = "form-horizontal", autocomplete = "off", id = "CreateVehicleForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(p=>Model.TourId)
    <div class="panel panel-default">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
            @*<hr class="margin-bottom-5 margin-top-5" />*@
            <div class="row" style="margin-top: 15px;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.DropDownListFor(p => p.Id, Model.VehicleList, "انتخاب ماشین", new { @onchange = "FillCity()", @id = "DropDownState", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.VehicleList, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                
               
            </div>
        </div>
        <div class="panel-footer">
            <div class="pull-left">
                <button type="button" autocomplete="off" onclick="AjaxForm.CustomSubmit(this, 'CreateVehicleForm')" data-loading-text="در حال ارسال اطلاعات" class="btn btn-success btn-md">
                    انتخاب وسیله نقلیه
                </button>
                <a href="@Url.Action("List","Tour")" class="btn btn-default btn-md">انصراف</a>
            </div>
            <div class="clearfix"></div>
        </div>


    </div>
}

@section Menu{
    @{Html.RenderPartial("_VehicleManagmentSideBarMenu");}
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/datePicker")*@
}
