@model Agency.ViewModel.User.UserViewModel
@using Auth = Agency.ServiceLayer.Security.AssignableToRolePermissions;

<div class="col-md-6 data-item" id="user-@Model.Id">
    <div class="panel panel-default">
        <div class="panel-body">
            <div>
                <div class="col-md-6">
                    <i class="fa fa-user"></i>
                    <label class="text-muted">
                        نام کاربری:
                    </label>
                    <small>@Model.UserName</small>
                </div>
                <div class="col-md-6">
                    <label class="text-muted" style="margin-right: 10px;">نام :</label>
                    <small>@Model.DisplayName</small>
                </div>
            </div>
            <div>
                <div class="col-md-6">
                    <label class="text-muted" style="margin-right: 20px;">نام آژانس :</label>
                    <small>@Model.AgencyName</small>
                </div>
                <div class="col-md-6">
                    @if (Model.IsSystemAccount)
                    {
                        <i class="fa fa-check-square-o text-success"></i>
                        <small class="text-muted">کاربر سیستمی</small>
                    }
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="pull-left">
                @if (User.IsInRole(Auth.CanEditUser))
                {
                    <a class="btn btn-primary btn-sm" data-ajax-oncomplete="editGetOnComplete(xhr,status)"
                       data-ajax="true" data-ajax-method="GET"
                       data-ajax-begin="onBegin(xhr,this)"
                       data-ajax-mode="REPLACE-WITH" data-ajax-success="inlineEditGetOnSuccess(data, status, xhr,'@Model.Id')"
                       data-ajax-update="#user-@Model.Id"
                       href="@Url.Action("Edit", "User", new {id = Model.Id})" role="button"><i class="fa fa-edit"></i>ویرایش</a>
                }

                @if (User.IsInRole(Auth.CanBannAndFreeUser))
                {
                    if (Model.IsBanned)
                    {
                        <a class="btn btn-success btn-sm"
                            data-ajax="true" data-ajax-method="POST"
                            data-ajax-mode="REPLACE-WITH"
                            data-ajax-begin="onBegin(xhr,this)"
                            data-ajax-oncomplete="onComplete(xhr,status)"
                            data-ajax-update="#user-@Model.Id"
                            href="@Url.Action("EnableUser", "User", new {Model.Id})" role="button">
                            <i class="fa fa-check-square-o"></i>
                            آزاد سازی
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-danger btn-sm @(Model.IsSystemAccount ? "not-active" : "")"
                            data-ajax="true" data-ajax-method="POST"
                            data-ajax-begin="onBegin(xhr,this)"
                            data-ajax-mode="REPLACE-WITH"
                            data-ajax-oncomplete="onComplete(xhr,status)"
                            disabled="@Model.IsSystemAccount"
                            data-ajax-update="#user-@Model.Id"
                            href="@Url.Action("BanUser", "User", new {Model.Id})" role="button">
                            <i class="fa fa-ban"></i>
                            مسدود سازی
                        </a>
                    }
}

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

