@using Agency.Utilities
@model Agency.ViewModel.Tour.TourSummeryViewModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_LayoutTourDetail.cshtml";
}

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-9">
        <div class="content-block">
            <div class="single_post">
                <div class="post_thumb">
                    <img src="~/Content/TourPhotoes/@Model.ImageSrc" alt="" />
                </div><!--end post thumb-->
                <div class="meta">
                    @{
                        int days = (Model.EndTime - Model.StartTime).Days;
                    }
                    <span class="tour-duration"><a href="#">@days روز</a></span>

                    <span class="date"><a href="#">زمان تور: @Model.StartTime.ToPersianString(PersianDateTimeFormat.FullDate).GetEnglishNumber()@*@Model.StartTime.ToPersianString(PersianDateTimeFormat.FullDate)*@</a></span>
                </div><!--end meta-->

                <h2>@Model.Title</h2>

                <div class="post_desc">
                    <blockquote>@Model.Summery</blockquote>
                    @Html.Raw(@Model.Description)


                </div>
                <!--end post desc-->

                @*<div class="post_bottom">
                    <ul>
                        <li class="like">
                            <a href="#">
                                <i class="fa fa-commenting-o"></i>
                                <span>12</span>
                            </a>
                        </li>

                        <li class="share">
                            <a href="#">
                                <i class="fa fa-share-alt"></i>
                                <span>12</span>
                            </a>
                        </li>

                        <li class="favorite">
                            <a href="#">
                                <i class="fa fa-heart"></i>
                                <span>12</span>
                            </a>
                        </li>


                    </ul>
                </div>*@<!--end post bottom-->
                <div style="float: right;">
                    <a role="button" class="btn btn-warning" href="@Url.Action("Create","Reserve",new {id=Model.Id})"
                       style="direction: rtl">ثبت نام</a>
                </div>
            </div>

        </div>
    </div>

    @*<div class="col-xs-12 col-sm-4 col-md-3">
        <div class="sidebar">
            <div class="sidebar-item">
                <h3>Tour Booking</h3>
                <form action="#" method="post" id="booking-form">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control" placeholder="Enter Your Name" name="name">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                            <input type="text" class="form-control" placeholder="Email Address" name="email">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                            <input type="text" class="form-control" placeholder="Phone" name="phone">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="text" class="form-control date_pic" placeholder="08/16/2016" name="phone">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users"></i></span>
                            <input type="number" class="form-control" placeholder="1" min="1" name="name">
                        </div>
                    </div>
                    <div class="text-center">
                        <input type="submit" name="submit" class="booking btn btn-primary" value='Book Now'>
                    </div>

                </form>
            </div><!--end sidebar-item-->

            <div class="sidebar-item">
                <h3>Tag Cloudes</h3>
                <ul class="tag-list">
                    <li><a href="#">Travel</a></li>
                    <li><a href="#">Tour</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Photography</a></li>
                    <li><a href="#">Wedding</a></li>
                    <li><a href="#">Agency</a></li>
                    <li><a href="#">Single</a></li>
                </ul>
            </div><!--end sidebar-item-->

        </div><!--end sidebar-->
    </div>*@

</div>

