@using System.Runtime.CompilerServices
@using System.Web.Optimization
@using Agency.Common.HtmlHelpers
@using Agency.Common.Noty
@using Agency.ViewModel.Report
@using WebGrease.Css.Ast.Selectors
@model Agency.ViewModel.Report.ToursListViewModel

<div class="panel panel-default">

    @*@if (Model.Hotels != null && Model.Hotels.Count > 0)
        {*@
    <div class="panel-body" id="print">
        @*<hr class="margin-bottom-5 margin-top-5" />*@
        <div class="tab-content" style="height: auto;overflow-y: scroll; width: auto; overflow-x:scroll">
            <div id="divprint" class="row col-md-11" style="margin-top: 15px; margin-right: 10px;">      
                
                <table class="table table-striped" style="border: 3px solid #ecf0f1; text-align: center;" id="FormContainer">
                    <tr style="background-color: #dff0d8;">
                        <td class="col-md-1">ردیف</td>
                        <td class="col-md-1">نام تور</td>
                        <td class="col-md-1">نام دفتر</td>
                        <td class="col-md-1">نام </td>
                        <td class="col-md-1">نام خانوادگی </td>
                        <td class="col-md-1">نام سرپرست </td>
                        <td class="col-md-1">نسبت</td>
                        @*<td class="col-md-1">نام سرپرست </td>*@
                        <td class="col-md-1">نام هتل </td>
                        <td class="col-md-1">نام ماشین </td>
                        <td class="col-md-1">شماره صندلی</td>
                        <td class="col-md-1">کدملی </td>
                        <td class="col-md-1"> شماره شناسنامه</td>
                        <td class="col-md-1"> موبایل </td>
                        <td class="col-md-1"> تلفن ثایت </td>
                        <td class="col-md-1"> آدرس </td>
                        <td class="col-md-1">هزینه ثابت</td>
                        <td class="col-md-1">اتاق دونفره</td>
                        <td class="col-md-1">بیمه</td>
                        <td class="col-md-1">سهم آژانس</td>
                        @*<td class="col-md-1">هزینه کلی</td>*@



                    </tr>




                    @{
                        int a=1;
                        foreach (var item in Model.ToursReportList)
                        {
                            <tr>
                                <td class="col-md-2" style="padding-right: 25px; background-color: #d9edf7;">@a</td>
                                <td class="col-md-2" style="padding-right: 25px; background-color: #d9edf7;">@item.TourName</td>
                                <td class="col-md-2" style="padding-right: 25px; background-color: #d9edf7;">@item.UserName</td>
                                <td class="col-md-2" style="padding-right: 25px; background-color: #d9edf7;">@item.Name</td>
                                <td class="col-md-2" style="padding-right: 25px; background-color: #d9edf7;">@item.LastName</td>
                                <td class="col-md-2" style="padding-right: 25px; background-color: #d9edf7;">@item.ParentName</td>
                                <td class="col-md-2" style="padding-right: 25px; background-color: #d9edf7;">@item.Relation</td>
                                <td class="col-md-2" style="padding-right: 25px; background-color: #d9edf7;">@item.HotelName</td>
                                <td class="col-md-2" style="padding-right: 25px; background-color: #d9edf7;">@item.VehicleName</td>
                                <td class="col-md-2" style="padding-right: 25px; background-color: #d9edf7;">@item.SeatNo</td>
                                <td class="col-md-2" style="padding-right: 25px; background-color: #d9edf7;">@item.NationalCode</td>
                                <td class="col-md-2" style="padding-right: 25px; background-color: #d9edf7;">@item.IdCode</td>
                                <td class="col-md-2" style="padding-right: 25px; background-color: #d9edf7;">@item.Mobile</td>
                                <td class="col-md-2" style="padding-right: 25px; background-color: #d9edf7;">@item.Tel</td>
                                <td class="col-md-2" style="padding-right: 25px; background-color: #d9edf7;">@item.Address</td>
                                <td class="col-md-2" style="padding-right: 25px; background-color: #d9edf7;">@item.BaseCost</td>
                                <td class="col-md-2" style="padding-right: 25px; background-color: #d9edf7;">@item.CoupleBedCost</td>
                                <td class="col-md-2" style="padding-right: 25px; background-color: #d9edf7;">@item.insurance</td>
                                <td class="col-md-2" style="padding-right: 25px; background-color: #d9edf7;">@item.agencyshare</td>
                                @*<td class="col-md-2" style="padding-right: 25px; background-color: #d9edf7;">@item.OptBasecost</td>*@
                            </tr>
                            a++;
                        }
                    }
                </table>

                <div class="col-md-4" style="float: right; border: 1px solid #c0f0c1; border-radius: 3px; background-color: #f7fff7;">
                    <div class="col-md-12" style="padding: 15px; height: 50px; margin-left: 20px;">
                        <span>مجموع کل :</span>
                        <span style="float: left;">@Model.ToursReportList[Model.ToursReportList.Count - 1].TotalCost</span>

                    </div>


                </div>
                <div class="col-md-4" style=" float: right; border: 1px solid #c0f0c1; border-radius: 3px; background-color: #f7fff7;">
                    <div class="col-md-12" style="padding: 15px; height: 50px; margin-left: 20px;">
                        <span>سهم مجموع آژانس :</span>
                        <span style="float: left;">@Model.ToursReportList[Model.ToursReportList.Count - 1].TotalAgencyShare</span>

                    </div>


                </div>

                </div>

            </div>
        </div>
    
        <div class="panel-footer">
            <div class="pull-left">
                <a href="@Url.Action("Export","Report" , new {id = Model.ToursReportList[0].TourId})" id="butprint" type="button" autocomplete="off" data-loading-text="در حال پرینت" class="btn btn-success btn-md  ">
                    پرینت
                </a>
                <a href="@Url.Action("List", "Report")" class="btn btn-default btn-md">انصراف</a>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
    <script src="~/Scripts/customs/d.js"></script>
    <script type='text/javascript' src='https://code.jquery.com/jquery-1.11.0.min.js'></script>


    @section Menu{
        @{Html.RenderPartial("_ReportManagementSideBar");}
    }

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
                @Scripts.Render("~/bundles/datePicker")
                <script>
                    $(function () {
                        $('.select').select2({});
                    });
                </script>
            }
